.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .nav-links .link-item {
    margin-left: 20px;
  }
  
  .nav-links .link {
    color: white;
    text-decoration: none;
  }
  
  .nav-links .link:hover {
    text-decoration: underline;
  }
  
